*{
	margin: 0;
	padding: 0;
	list-style: none;
}

body{
	background-color: #F1F1F1;
}

/*content-area-css-start*/

.content{
	margin-top: 20px;
	border: 1px solid #ddd;
}


.content-navs{
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.content-navs ul{
	margin: 0;
	padding: 0;
	display: flex;
}
.content-navs ul li{
	position: relative;
}
.content-navs ul li span {
    position: absolute;
    background: #C73412;
	color:#fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px;
    left: 100%;
    top: 126%;
    display: none;
    z-index: 999;
}
.content-navs ul li span::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 5px;
    background: #C73412;
    top: -8px;
    left: 0;
}
.content-navs ul li span::after {
    position: absolute;
    content: "";
    height: 13px;
    width: 5px;
    background: #C73412;
    top: -8px;
    left: 3px;
    transform: skewX(28deg);
}
.content-navs ul li a{
	text-decoration: none;
	color: #2f353b;
	font-size: 15px;
	display: inline-block;
	padding: 6px 11px;
	transition: .3s;
}
.content-navs ul li:hover a{
	color: #C73412;
	background-color: #F7F7F7;
}
.content-navs ul li:hover span{
	display: block;
}

.content-option{
	padding: 10px;
	background: #F1F1F1;
	height: 400px;
	border-right: 5px solid #D4D4D4;
	overflow-x: hidden;
}
.form-option{
	background: #fff;
	padding: 10px;
	height: 400px;
	overflow-x: hidden;
}

.titletext {
    display: flex;
    background: #fff;
    padding: 12px 10px;
	border: 1px solid#ddd;
	margin-bottom: 10px;
}
.titletextcontent,
.actionbtn{
	width: 50%;
}

.firticon,
.title{
	float: left;
}
.firticon{
	position: relative;
	margin-right: 10px;
	
}
.firticon i{
	color: #2f353b;
}
.firticon:hover .icon{
	transform: scale(1);
	cursor: pointer;
}
.icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
	transform: scale(0);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.title a{
	text-decoration: none;
	color: #2f353b;
	font-size: 14px;
	margin-bottom: 0px;
	position: relative;
}
.title a:before{
	position: absolute;
	content: "";
	height: 1px;
	width: 20px;
	background: #C73412;
	left: 0;
	bottom: 0;
	transform: scale(0);
	transition: .3s;
}
.title a:hover:before{
	transform: scale(1);
}
.actionbtn a{
	text-decoration: none;
	color: #888;
	font-size: 15px;
	margin-left: 5px;
	vertical-align: middle;
	transition: .3s;
}
.actionbtn a:last-child{
	color: #2f353b;
	font-size: 20px;
}
.actionbtn a:hover{
	color: #C73412;
}

.sendbtn a{
	text-decoration: none;
	display: block;
	background: #EEEEEE;
	color: #222;
	font-size: 13px;
	border: 1px solid #ddd;
	text-align: center;
	padding: 8px;
	transition: .3s;
	margin-bottom: 10px;
}
.sendbtn:hover a{
	background: #E5F1FB;
	border: 1px solid #0073AA;
}
.fillup-form label{
	color: #2f353b;
	font-size: 14px;
}
.fillup-form input[type="text"]{
	border-radius: 0px;
	border: 1px solid #ddd;
}

/*content-area-css-start*/